<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EL7A2Ni Clinic</title>
  <link rel="stylesheet" href="theme.css">
</head>

<body>
  <header>
      <h1>
      <img src="acllogo.png"alt="logo" width="150px" height="80px"> </h1>
      <hq>Welcome to EL7A2Ni Clinic</hq>
  </header>    
<form action="/createAdminstrator" method="post" onSubmit="handleSubmit(event)">
  <div class="centered-form">

    <label>
      Username:
      <input type="text" name="Username" required="true" value="<%= formData.Username %>" onChange="handleChange(event)">
    </label>

    <label>
      Password:
      <input type="text" name="Password" required="true" value="<%= formData.Password %>" onChange="handleChange(event)">
    </label>

    <button type="submit" id="register">Register</button>

  </div>
</form>
</body>

<script>
  function handleChange(event) {
    console.log("1");
    const { name, value } = event.target;
    console.log("2");
    setFormData({ ...formData, [name]: value });
    console.log("3");
  }

  function handleSubmit(event) {
    console.log("a");
    event.preventDefault();
    console.log("b");
    // Assuming createAdminstrator is a function defined in your client-side code
    createAdminstrator(formData);
    console.log("c");
  }
</script>
</html>