<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EL7A2Ni Clinic</title>
  <link rel="stylesheet" href="theme.css">
</head>

<body>
  <header>
      <h1>
      <img src="acllogo.png"alt="logo" width="150px" height="80px"> </h1>
      <hq>Welcome to EL7A2Ni Clinic</hq>
  </header> 
  <p>Welcome Patient!</p>   
<form>
  <div class="centered-form">
    
    
  </form><form action="/prescriptions"><button type="submit" id="register1">View Prescriptions</button></form>

  </form><form action="/filterappointmentsuser"><button type="submit" id="register2">Filter Appointments</button></form>

</form><form action="/getallDoctors"><button type="submit" id="register3">View All Doctors</button></form>

<form action="/addFamilyMember"><button type="submit" id="register4">Add Family Member</button></form>

<form action="/getFamilyMember"><button type="submit" id="register5">get Family Members</button></form>

<form action="/searchDoctor"><button type="submit" id="register6">Search doctor by name</button></form>

<form action="/searchDoctorspeciality"><button type="submit" id="register7">Search doctor by speciality</button></form>

<form action="/searchDoctordate"><button type="submit" id="register8">Search doctor by Date</button></form>







  </div>
</form>
</body>
<script>
  import index from './index.js';
    
    
    //button1.addEventListener('click',function(){
      
    //});

  
    
</script>

<style>
    
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(236, 236, 236);
  }
  head{
    color: blue;
  }
  .hidden{
    display: none;
  }
    
    button{
       color:white;
       background-color:cyan;
       height: 150px;
       width: 150px;
       display:grid;
       stroke: black;
       stroke-width: 400px;
       justify-content:center;
       align-items:center;
       font-size:medium;
       
       
    }

    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  header{
    position: relative;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    border-bottom: 1px solid white;
    background-color: cyan;
  }
  header img{
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
  nav, main {
    padding: 20px;
  }
  main {
    margin-left: 20px;
    background-color: white;
    color: navy;
  }
</style>
</html>